body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  padding: 40px;
}

h1 {
  text-align: center;
  color: #123458;
}

.card {
  max-width: 600px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  background-color: white;
  margin-inline: auto;
}

.card p {
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  word-spacing: 0.2rem;
  letter-spacing: 0.025rem;
  line-height: 2rem;
}


.card > p:nth-child(1) {
  background-color: #ffff00;
  color: #ff0000;
}

.card > p:nth-child(2) {
  background-color: #007BFF;
  color: #ffffff;
}

.card > p:nth-child(3) {
  background-color: #ffc0cb;
  color: #000000;
}


@media screen and (max-width: 400px){
  body {
    padding: 20px;
  }
  h1{
    font-size: 1.5rem;
  }
  .card{
    padding: 10px;
  }
}

/* Note: one value=> top,right,bottom,left , two value => top bottom, right left */
